{% extends "layout.html" %}

{% block title %}
    {{ summoner.name }}
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <div class="col">

                <div class="my-2 p-2 border">

                    <!-- Add profile image here in the future -->
    
                    <h1>{{ summoner.name }}</h1>
                    <h2>Level {{ summoner.summonerLevel }}</h2>
    
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <div class="my-2 p-2 border">

                    <h2>Solo/Duo</h2>
                    {% if soloq != "Unranked" %}
                    <h3>
                        {{ soloq.tier }} {{ soloq.rank }} {{ soloq.lp }} lp <br>
                        {{ soloq.wins }} wins {{ soloq.losses }} losses ({{ soloq.winrate }})
                    </h3>
                    {% else %}
                    <h3>{{ soloq }}</h3>
                    {% endif %}

                </div>

            </div>
            
            <div class="col">

                <div class="my-2 p-2 border">

                    <h2>Flex</h2>
                    {% if flexq != "Unranked" %}
                    <h3>
                        {{ flexq.tier }} {{ flexq.rank }} {{ flexq.lp }} lp <br>
                        {{ flexq.wins }} wins {{ flexq.losses }} losses ({{ flexq.winrate }})
                    </h3>
                    {% else %}
                    <h3>{{ flexq }}</h3>
                    {% endif %}

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <div id="match_history" class="my-2 p-2 border">

                    <template id="match_data">

                        <div class="table-responsive">

                            <table class="table table-striped">

                                <tr>

                                    <th>Summoner</th>
                                    <th>Champion</th>
                                    <th>Spells</th>
                                    <th>K/D/A</th>
                                    <th>CS</th>
                                    <th>Damage</th>
                                    <th>Gold Earned</th>
                                    <th>Vision</th>
                                    <th>Level</th>
                                    <th>Items</th>

                                </tr>

                                <!-- All 10 summoners (Test out if you can make template in a template to avoid hardcoding) -->

                                <tr>

                                    <td><a id="name1" href="#"></a></td>
                                    <td><img id="champion1" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner1spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda1"></td>
                                    <td id="cs1"></td>
                                    <td id="damage1"></td>
                                    <td id="goldearned1"></td>
                                    <td id="visionscore1"></td>
                                    <td id="champlevel1"></td>
                                    <td>
                                        <span>
                                            <img id="summoner1item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner1item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name2" href="#"></a></td>
                                    <td><img id="champion2" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner2spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda2"></td>
                                    <td id="cs2"></td>
                                    <td id="damage2"></td>
                                    <td id="goldearned2"></td>
                                    <td id="visionscore2"></td>
                                    <td id="champlevel2"></td>
                                    <td>
                                        <span>
                                            <img id="summoner2item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner2item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name3" href="#"></a></td>
                                    <td><img id="champion3" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner3spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda3"></td>
                                    <td id="cs3"></td>
                                    <td id="damage3"></td>
                                    <td id="goldearned3"></td>
                                    <td id="visionscore3"></td>
                                    <td id="champlevel3"></td>
                                    <td>
                                        <span>
                                            <img id="summoner3item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner3item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name4" href="#"></a></td>
                                    <td><img id="champion4" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner4spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda4"></td>
                                    <td id="cs4"></td>
                                    <td id="damage4"></td>
                                    <td id="goldearned4"></td>
                                    <td id="visionscore4"></td>
                                    <td id="champlevel4"></td>
                                    <td>
                                        <span>
                                            <img id="summoner4item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner4item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name5" href="#"></a></td>
                                    <td><img id="champion5" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner5spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda5"></td>
                                    <td id="cs5"></td>
                                    <td id="damage5"></td>
                                    <td id="goldearned5"></td>
                                    <td id="visionscore5"></td>
                                    <td id="champlevel5"></td>
                                    <td>
                                        <span>
                                            <img id="summoner5item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner5item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name6" href="#"></a></td>
                                    <td><img id="champion6" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner6spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda6"></td>
                                    <td id="cs6"></td>
                                    <td id="damage6"></td>
                                    <td id="goldearned6"></td>
                                    <td id="visionscore6"></td>
                                    <td id="champlevel6"></td>
                                    <td>
                                        <span>
                                            <img id="summoner6item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner6item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name7" href="#"></a></td>
                                    <td><img id="champion7" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner7spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda7"></td>
                                    <td id="cs7"></td>
                                    <td id="damage7"></td>
                                    <td id="goldearned7"></td>
                                    <td id="visionscore7"></td>
                                    <td id="champlevel7"></td>
                                    <td>
                                        <span>
                                            <img id="summoner7item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner7item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name8" href="#"></a></td>
                                    <td><img id="champion8" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner8spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda8"></td>
                                    <td id="cs8"></td>
                                    <td id="damage8"></td>
                                    <td id="goldearned8"></td>
                                    <td id="visionscore8"></td>
                                    <td id="champlevel8"></td>
                                    <td>
                                        <span>
                                            <img id="summoner8item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner8item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name9" href="#"></a></td>
                                    <td><img id="champion9" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner9spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda9"></td>
                                    <td id="cs9"></td>
                                    <td id="damage9"></td>
                                    <td id="goldearned9"></td>
                                    <td id="visionscore9"></td>
                                    <td id="champlevel9"></td>
                                    <td>
                                        <span>
                                            <img id="summoner9item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner9item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                                <tr>

                                    <td><a id="name10" href="#"></a></td>
                                    <td><img id="champion10" class="mx-auto img-fluid" src="" alt="" width="50" height="50"></td>
                                    <td>
                                        <span>
                                            <img id="summoner10spell1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10spell2" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>
                                    <td id="kda10"></td>
                                    <td id="cs10"></td>
                                    <td id="damage10"></td>
                                    <td id="goldearned10"></td>
                                    <td id="visionscore10"></td>
                                    <td id="champlevel10"></td>
                                    <td>
                                        <span>
                                            <img id="summoner10item1" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item2" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item3" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item4" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item5" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item6" class="mx-auto img-fluid" src="" width="50" height="50">
                                            <img id="summoner10item7" class="mx-auto img-fluid" src="" width="50" height="50">
                                        </span>
                                    </td>

                                </tr>

                            </table>

                        </div>

                    </template>

                </div>

                <div class="d-flex justify-content-center mb-3" id="sentinel">

                    <div class="spinner-border" role="status"></div>

                </div>

            </div>

        </div>

    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax.libs.popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

    var match_history = document.querySelector("#match_history");
    var match_data = document.querySelector("#match_data");

    var sentinel = document.querySelector("#sentinel");
    var counter = 0;

    function loadItems() {

        fetch(`/load?c=${counter}`).then((response) => {
            response.json().then((matches) => {

                if (!matches.length) {

                    sentinel.innerHTML = "No more matches";

                }

                for (var i = 0; i < matches.length; i++) {

                    let match_data_clone = match_data.content.cloneNode(true);

                    for (var j = 0; j < 10; j++) {

                        var summoner_number = j + 1;

                        match_data_clone.querySelector("#name" + summoner_number).setAttribute("href", "/profile?search=" + matches[i]["info"][j]["name"]);
                        match_data_clone.querySelector("#name" + summoner_number).innerHTML = matches[i]["info"][j]["name"];

                        match_data_clone.querySelector("#champion" + summoner_number).setAttribute("src", "https://ddragon.leagueoflegends.com/cdn/12.3.1/img/champion/" + matches[i]["info"][j]["champion"] + ".png");
                        match_data_clone.querySelector("#champion" + summoner_number).setAttribute("alt", matches[i]["info"][j]["champion"]);

                        match_data_clone.querySelector("#summoner" + summoner_number + "spell1").setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/spell/" + matches[i]["info"][j]["ss1"] + ".png");
                        match_data_clone.querySelector("#summoner" + summoner_number + "spell2").setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/spell/" + matches[i]["info"][j]["ss2"] + ".png");
                        
                        match_data_clone.querySelector("#kda" + summoner_number).innerHTML = matches[i]["info"][j]["kills"] + "/" + matches[i]["info"][j]["deaths"] + "/" + matches[i]["info"][j]["assists"];
                        match_data_clone.querySelector("#cs" + summoner_number).innerHTML = matches[i]["info"][j]["cs"];
                        match_data_clone.querySelector("#damage" + summoner_number).innerHTML = matches[i]["info"][j]["damage"];
                        match_data_clone.querySelector("#goldearned" + summoner_number).innerHTML = matches[i]["info"][j]["goldEarned"];
                        match_data_clone.querySelector("#visionscore" + summoner_number).innerHTML = matches[i]["info"][j]["visionScore"];
                        match_data_clone.querySelector("#champlevel" + summoner_number).innerHTML = matches[i]["info"][j]["champLevel"];

                        for (var k = 0; k < matches[i]["info"][j]["item_list"].length; k++) {

                            if (matches[i]["info"][j]["item_list"][k] == 0) {
                                
                                match_data_clone.querySelector("#summoner" + summoner_number + "item" + (k + 1)).setAttribute("src", "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=");

                            }

                            else {

                                match_data_clone.querySelector("#summoner" + summoner_number + "item" + (k + 1)).setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/item/" + matches[i]["info"][j]["item_list"][k] + ".png");

                            }

                        }

                    }

                    match_history.appendChild(match_data_clone);
                    counter += 1;

                }
            })
        })
    }

    var intersectionObserver = new IntersectionObserver(entries => {

        if (entries[0].intersectionRatio <= 0) {

            return;

        }

        loadItems();
    });
    
    intersectionObserver.observe(sentinel);

</script>

{% endblock %}