{% extends "layout.html" %}

{% block title %}
    {{ summoner.name }}
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <div class="col">

                <div class="my-2 p-2 border">
    
                    <h1>{{ summoner.name }}</h1>
                    <h2>Level {{ summoner.summonerLevel }}</h2>
    
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <div class="my-2 p-2 border">

                    <h2>Solo/Duo</h2>
                    {% if soloq != "Unranked" %}
                    <h3>
                        {{ soloq.tier }} {{ soloq.rank }} {{ soloq.lp }} lp <br>
                        {{ soloq.wins }} wins {{ soloq.losses }} losses ({{ soloq.winrate }})
                    </h3>
                    {% else %}
                    <h3>{{ soloq }}</h3>
                    {% endif %}

                </div>

            </div>
            
            <div class="col">

                <div class="my-2 p-2 border">

                    <h2>Flex</h2>
                    {% if flexq != "Unranked" %}
                    <h3>
                        {{ flexq.tier }} {{ flexq.rank }} {{ flexq.lp }} lp <br>
                        {{ flexq.wins }} wins {{ flexq.losses }} losses ({{ flexq.winrate }})
                    </h3>
                    {% else %}
                    <h3>{{ flexq }}</h3>
                    {% endif %}

                </div>

            </div>

        </div>
        
        <div class="row">

            <div class="col">

                <div id="match_history" class="my-2 p-2 border">

                    <template id="match_data">

                        <div class="table-responsive">

                            <table id="match_data_table" class="table table-striped">

                                <caption id="metadata" style="caption-side:top">

                                    <span id="result"></span>
                                    <span id="timestamp"></span>
                                    <span id="gameMode"></span>
                                    <span id="duration"></span>
                                
                                </caption>

                                <tr>

                                    <th style="width:15%">Summoner</th>
                                    <th style="width:5%">Champion</th>
                                    <th style="width:10%">Spells</th>
                                    <th style="width:6%">K/D/A</th>
                                    <th style="width:5%">CS</th>
                                    <th style="width:6%">Damage</th>
                                    <th style="width:9%">Gold Earned</th>
                                    <th style="width:6%">Vision</th>
                                    <th style="width:5%">Level</th>
                                    <th style="width:33%">Items</th>

                                </tr>

                            </table>

                        </div>

                    </template>

                </div>

                <div class="d-flex justify-content-center mb-3" id="sentinel">

                    <div class="spinner-border" role="status"></div>

                </div>

            </div>

        </div>

    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

    var match_history = document.querySelector("#match_history");
    var match_data = document.querySelector("#match_data");

    var sentinel = document.querySelector("#sentinel");
    var counter = 0;

    // Creates table row to the match_data_table by editing the DOM
    function addSummonerRow(summoner, match_data_clone) {

        var table = match_data_clone.querySelector("#match_data_table");

        var row = table.insertRow(1);

        // Username
        var name = row.insertCell(0).appendChild(document.createElement("a"));
        name.setAttribute("href", "/profile?search=" + summoner["name"]);
        name.innerHTML = summoner["name"];

        // Champion
        var champion = row.insertCell(1).appendChild(document.createElement("img"));
        champion.setAttribute("src", "https://ddragon.leagueoflegends.com/cdn/13.3.1/img/champion/" + summoner["champion"] + ".png");
        champion.setAttribute("alt", summoner["champion"]);
        champion.setAttribute("class", "mx-auto img-fluid");
        champion.setAttribute("width", "50px");
        champion.setAttribute("height", "50px");

        // Summoner Spells
        var summonerSpells = row.insertCell(2).appendChild(document.createElement("span"));

        var summonerSpell1 = summonerSpells.appendChild(document.createElement("img"));
        summonerSpell1.setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/spell/" + summoner["ss1"] + ".png");
        summonerSpell1.setAttribute("alt", summoner["ss1"]);
        summonerSpell1.setAttribute("class", "mx-auto img-fluid");
        summonerSpell1.setAttribute("width", "50px");
        summonerSpell1.setAttribute("height", "50px");

        var summonerSpell2 = summonerSpells.appendChild(document.createElement("img"));
        summonerSpell2.setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/spell/" + summoner["ss2"] + ".png");
        summonerSpell2.setAttribute("alt", summoner["ss2"]);
        summonerSpell2.setAttribute("class", "mx-auto img-fluid");
        summonerSpell2.setAttribute("width", "50px");
        summonerSpell2.setAttribute("height", "50px");

        // KDA, CS, Damage, Vision Score, Champion Level
        row.insertCell(3).innerHTML = (summoner["kills"] + "/" + summoner["deaths"] + "/" + summoner["assists"]);
        row.insertCell(4).innerHTML = summoner["cs"];
        row.insertCell(5).innerHTML = summoner["damage"];
        row.insertCell(6).innerHTML = summoner["goldEarned"];
        row.insertCell(7).innerHTML = summoner["visionScore"];
        row.insertCell(8).innerHTML = summoner["champLevel"];

        // Items
        var summonerItems = row.insertCell(9).appendChild(document.createElement("span"));
        for (var k = 0; k < summoner["item_list"].length; k++) {

            var summonerItem = summonerItems.appendChild(document.createElement("img"));

            if (summoner["item_list"][k] == 0) {

                summonerItem.setAttribute("src", "https://ddragon.leagueoflegends.com/cdn/10.2.1/img/profileicon/29.png");
                summonerItem.setAttribute("class", "mx-auto img-fluid");
                summonerItem.setAttribute("width", "50px");
                summonerItem.setAttribute("height", "50px");
            }

            else {

                summonerItem.setAttribute("src", "http://ddragon.leagueoflegends.com/cdn/13.3.1/img/item/" + summoner["item_list"][k] + ".png");
                summonerItem.setAttribute("class", "mx-auto img-fluid");
                summonerItem.setAttribute("width", "50px");
                summonerItem.setAttribute("height", "50px");

            }

        }

        if (summoner["win"] == true) {

            row.setAttribute("bgcolor", "#03333C");

        }

        else {

            row.setAttribute("bgcolor", "#3C0D1A")

        }

    }

    // Gets match data from back end with /load route then parses it and adds it to DOM
    function loadItems() {

        fetch(`/load?c=${counter}`).then((response) => {
            response.json().then((matches) => {

                // If there are no more matches loaded with front end, display to user
                if (!matches.length) {

                    sentinel.innerHTML = "No more matches";

                }

                for (var i = 0; i < matches.length; i++) {

                    let match_data_clone = match_data.content.cloneNode(true);

                    for (var j = 0; j < 10; j++) {

                        addSummonerRow(matches[i]["info"][j], match_data_clone);

                    }

                    // TODO: Shows up as undefined
                    match_data_clone.querySelector("#gameMode").innerHTML = matches[i]["metadata"][0]["gameMode"];
                    match_data_clone.querySelector("#duration").innerHTML = matches[i]["metadata"][0]["duration"];
                    match_data_clone.querySelector("#timestamp").innerHTML = matches[i]["metadata"][0]["timestamp"];
                    match_data_clone.querySelector("#result").innerHTML = matches[i]["metadata"][0]["result"];

                    match_history.appendChild(match_data_clone);
                    counter += 1;

                }
            })
        })
    }

    // Creates intersectionObserver object at bottom of the screen, and calls loadItems if on screen (bottom is visible)
    var intersectionObserver = new IntersectionObserver(entries => {

        if (entries[0].intersectionRatio <= 0) {

            return;

        }

        loadItems();
    });
    
    intersectionObserver.observe(sentinel);

</script>

{% endblock %}